.student-slider-card {
    width: 166px;
    height: 266px;
    background: none;
    border: 2px solid #fff;
    border-radius: 13px;
    color: #fff;
    padding: 6px;
    font-family: Sansation, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.student-slider-card--active {
    background: #fff;
    width: 185px;
    height: 296px;
    color: #000;
    padding: 7px;
}

.student-slider-card__photoWrapper {
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
}

.student-slider-card__photo {
    width: 153px;
    height: 167px;
    object-fit: cover;
    border-radius: 8px;
}

.student-slider-card--active .student-slider-card__photo {
    width: 171px;
    height: 186px;
}

.student-slider-card__course, .student-slider-card__extraIco {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    border-radius: 7px;
}

.student-slider-card__course {
    bottom: 10px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.student-slider-card--active .student-slider-card__course {
    background: #fff;
    width: 73px;
    text-transform: uppercase;
    font-style: italic;
    color: #000000;
}

.student-slider-card__courseText {
    display: none;
    font-size: 14px;
    font-family: StratosSemiLight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    flex: 1;
}

.student-slider-card--active .student-slider-card__courseText {
    display: block;
}

.student-slider-card__courseIco {
    width: 30px;
    height: 100%;
    flex-shrink: 0;
}

.student-slider-card__extraIco {
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.student-slider-card__extraIco img {
    width: 12px;
    height: 20px;
    object-fit: contain;
}

.student-slider-card__text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.student-slider-card__name {
    font-family: 'StratosRegular';
    letter-spacing: 1px;
    font-size: 20px;
    width: 50%;
}

.student-slider-card__job {
    font-family: 'StratosRegular';
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
}

.student-slider-card--active .student-slider-card__name {
    font-size: 22px;
}

.student-slider-card--active .student-slider-card__job {
    font-size: 14px;
}